.center{
    background-color: rgba(153, 142, 47, 0.884);
}
.al1{
    background-color: rgb(13, 212, 202);
}
.al2{
    background-color: rgb(139, 86, 189);
    padding: 50px;
}
.al3{
    background-color: rgb(255, 255, 255);
}